#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* Primary colors */
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-black-blue: hsl(234, 17%, 12%);
}

#background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, var(--very-dark-black-blue), var(--soft-red) 1500%); /** A touch of sunrise **/
  z-index: -1;
  /* Behind the content but covers the viewport */
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/bg-stars.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#HillsFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23%;
  /* Adjust as needed */
  background-image: url('src/assets/pattern-hills.svg');
  background-size: cover;
  background-repeat: no-repeat;

}

#root .mainContainer {
  width: 100%;
	max-width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.titleMessage {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.4;
  width: 90%;
}

.show-counter {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.numberCard {
  font-size: 2.5rem;
  background-color: var(--very-dark-black-blue);
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column; /* Changed to column to stack top and bottom */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Ensure the halves don't overflow the card */
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  margin-bottom: 1px;
}

.number{
  color: var(--soft-red);
  z-index: 1;
}

.half {
  width: 100%;
  height: 50%; /* Each half takes up half the card */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden; /* Prevents flickering on flip */
  overflow: hidden;
}

.top {
  background-color: hsl(235, 22%, 24%);;
  top: 0;
  transform-origin: bottom;

}

.top::before {
  content: "";
  display: block;
  background-color: var(--very-dark-black-blue);
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;

}

.top::after {
  content: "";
  display: block;
  background-color: var(--very-dark-black-blue);
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;

}

.bottom {
  bottom: 0;
  transform-origin: top;
  background-color: var(--dark-desaturated-blue);

}

.bottom::before {
  content: "";
  display: block;
  background-color: var(--very-dark-black-blue);
  position: absolute;
  top: -5px;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;

}

.bottom::after {
  content: "";
  display: block;
  background-color: var(--very-dark-black-blue);
  position: absolute;
  top: -5px;
  right: -5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;

}

.timeType {
  padding-top: 20px;
  color: var(--grayish-blue);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}


.socialButtons {
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  
}

.socialButton {
  border: none;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}

svg {
  fill: var(--grayish-blue);
}

.socialButton svg:hover  {
  fill: var(--soft-red);

}

/* Tablet devices (e.g., 768px and up) */
@media (min-width: 768px) {
  .numberCard {
    font-size: 2.5rem;
    width: 90px;
    height: 90px;
  }
  
  .titleMessage {
    width: 100%;
  }
}

/* Desktop devices (e.g., 1024px and up) */
@media (min-width: 1440px) {
  .mainContainer {
    width: 80%;
    max-width: 500px; /* Adjust as needed */
  }

  .numberCard {
    font-size: 3rem;
    width: 100px;
    height: 100px;
  }
  
  .titleMessage {
    width: 100%;
  }
}